@font-face {
  font-family: "Geomanist";
  src: url("./fonts/geomanist-regular.eot");
  src:
  url("./fonts/geomanist-regular.woff") format("woff"),
  url("./fonts/geomanist-regular.woff2") format("woff2"),
  url("./fonts/geomanist-regular.ttf") format("truetype"),
  url("./fonts/geomanist-regular.svg") format("svg");
}

.main-settings-for-body{
  min-width:1024px; 
  padding: 0; 
  margin:0; 
  overflow-x:hidden;
  color: #2c2c35;
  
}

.fixed-part{
  position:fixed;
  padding: 0; 
  margin:0
}

.Bacground-black-cover {
    width: 50vw;
    height: 100vh;
    padding: 0;
    background-image: url(./photos/wallpaper.png); 
    background-size: 100% 100%;
  }
  .container-temp2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;    
  }
  
.container-temp{
    padding-top:3.7vh;
    display: flex;
    align-items: center;   
  }

.box-of-social-icons{
  position:fixed; 
  top: 81.64vh;
  left: 42.15vw;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box-with-link-to-website{
  position:fixed;  
  top: 90vh;
  left: 5.2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-welcome{
  position: relative;
  top: 0;
  left: 50vw;
  width: 50vw;  
  height: 100vh;
  z-index: 1;
}

.box-of-headers{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.Desktop-HD {
    --white: white;
    background-color: var(--white);
}

  .Headline-H1 {
    padding-left:5vw;
    padding-right:8vw; 
    font-family: 'Geomanist';
    font-size: 3em;
    font-weight: normal;
    line-height: 1.21;
  }

  .Sub-title {
    padding-top:2vh; 
    padding-left:5vw;
    font-weight: normal;
    padding-right:4vw;
    font-family: Helvetica;
    font-size: 1.125em;
    line-height: 1.56;
  }

  .arrow-Path-2 {
    position: relative;
    z-index: 10; 
    top:-10.9vh;
    left: 24.38vw;
    width: 30px;
    height: 30px;
    /*border: solid 4px #5a5aff;*/
  }

  .arrow-Path-3 {
    position: relative;
    z-index: 10; 
    left:24.38vw;
    top:-10.3vh;
    width: 30px;
    height: 30px;
    /*border: solid 4px #5a5aff;*/
  }

  .Bitmap {
    width: 80px;
    height: 80px;
    transform: scale(1.2);
  }
  .Croop_Author {
    margin-left:4.3vw;
    width: 80px;
    height: 80px;
    border-radius: 45px;
    overflow: hidden;
  }

  .Croop_Author2 {
    margin-top: 6.11vh;
    margin-left: 5vw;
    margin-right: 0;
    float: left;
    width: 108px;
    height: 105.6px;
    border-radius: 60px;
    overflow: hidden;
  }

  .User-name {
    margin-left: 26px;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 2.14vh;
    font-family: Helvetica;
    font-size: 1.125em;
    font-weight: bold;
    color: var(--white);
  }

  .Blog {
    font-family: Helvetica;
    font-size: 1em;
    font-weight: bold;
    color: var(--white);
  }
  .Line {
    margin-left: 26px; 
    margin-right: 8px; 
    width: 1.32vw;
    border: solid 0.11em var(--white);
  }

  .Go-to-my-website {
    padding-left: 10px;
    font-family: Helvetica;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.63;
    color: var(--white);
    transition: all 0.6s;
  }
  
  .Go-to-my-website a:before {
        content: "";
        width: 0;
        height: 0.1em;
        position: absolute;
        bottom: 0;
        left: 100%;
        background:#00aeff; 
        transition: all 0.3s;
  }
  
  .Go-to-my-website a:hover:before {
            width: 100%;
            left: 0%;
            background:complement(#00aeff);
  }

  .Shape {
    width: 0.7vw;
    height: 0.88vw;
    object-fit: contain;
  }

  .Oval-2-Copy {
    margin-top: 0;
    margin-left: 41.18vw;
    margin-bottom: 0vh;
    border-radius: 32px;
    width: 64px;
    height: 64px;
    background-color: #5a5aff;
  }
  .Oval-2-Copy:hover {
    background:#05054B;
  }

  .Shape2 {
    width: 19.3px;
    height: 20.3px;
    object-fit: contain;
  }

  .facebook-logo {
    transition: all 300ms linear 0ms;
    width: 11px;
    height: 20px;
    object-fit: contain;
  }
 
  

  .instagram-logo {
    transition: all 300ms linear 0ms;
   width: 26px;
    height: 26px;
    object-fit: contain;
  }

  .LinkedIn {
    width: 22px;
    height: 21px;
    object-fit: contain;
    transition: all 300ms linear 0ms;
  }

  .LinkedIn:hover  {
    transform: rotate(0deg) scale(1.1,1.1) ;
    box-shadow: 5px 5px 0px #A5A5A5;
    z-index: 999;
    transition: transform 300ms linear 0ms,
     box-shadow 300ms linear 0ms, z-index 300ms linear 0ms;
 }
 .facebook-logo:hover  {
  transform: rotate(0deg) scale(1.1,1.1) ;
  box-shadow: 5px 5px 0px #A5A5A5;
  z-index: 999;
  transition: transform 300ms linear 0ms,
   box-shadow 300ms linear 0ms, z-index 300ms linear 0ms;
}
  .instagram-logo:hover  {
  transform: rotate(0deg) scale(1.1,1.1) ;
  box-shadow: 5px 5px 0px #A5A5A5;
  z-index: 999;
  transition: transform 300ms linear 0ms,
   box-shadow 300ms linear 0ms, z-index 300ms linear 0ms;
}

  .Width-lim {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .Headline-H2 {
    margin-top: 7vh;
    margin-bottom: 0vh;
    padding-bottom: 0vh;
    width: 30vw;
    font-family: Geomanist;
    font-size: 2.25em;
    font-weight: normal;
  }

  .Text {
    margin-bottom: 0vh;
    padding-bottom: 0vh;
    width: 40vw;
    font-family: Helvetica;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.75;
    color: #2c2c35;
  }

  .margin-for-Text1{
    margin-top: 2.32vh;
  }
  .margin-for-Text2{
    margin-top:2.5vh;
  }
  .margin-for-Text3{
    margin-top:3.1vh;
  }
  .margin-for-Text4{
    margin-top:1.95vh;
  }

  .Sherwood-Forest-Lake {
    margin-left: 0vw;
    float:left;
    margin-right: 2.99vw;
    margin-top: 3.22vh;
    margin-bottom: 3.6vh;
    width: 290px;
    height: 290px;
  }

.figcapture-temp{
  margin: 0;
  width: 50vw;
}

  .Width-lim-for-content {
    position: relative;
    left: 50vw;
    width: 50vw;
  }

  .Image {
    margin-top: 3.9vh;
    margin-bottom: 0vh;
    margin-right: 0vw;
    padding-right: 0vw;
    width: 50vw;
    height: 28.32vh;
  }

  .Photo-descriprion {
    margin-top: 0.78vh;
    font-family: Helvetica;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.75;
    text-align: center;
    color: #ababab;
  }

  .Line-2 {
    margin-top: 0.58vh;
    width: 40vw;
    border: solid 1px #d2d2d2;
  }

  .Headline-H3 {
    margin-top: 4.68vh;
    font-family: Geomanist;
    font-size: 1.875em;
    font-weight: normal;
  }

  .Text-bold-hyperlink {
    margin-bottom: 0vh;
    padding-bottom: 0vh;
    width: 40vw;
    font-family: Helvetica;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.75;
  }
  .text-style-1 {
    font-weight: bold;
  }
  .text-style-2 {
    color: #5a5aff;
  }

  .Headline-H4 {
    margin-top: 4.68vh;
    font-family: Geomanist;
    font-size: 1.5em;
    font-weight: normal;
  }

  .cite {
    margin-top: 3.9vh;
    margin-bottom: 3.9vh;
    margin-left: 6.25vw;
    margin-right: 6.53vw;
    font-family: Roboto;
    font-size: 1.05em;
    font-weight: normal;
    font-style: italic;
    line-height: 1.6;
    text-align: center;
  }

  .sea-of-trees-forest-plain {
    margin-right: 0;
    float: right;
    margin-left: 2.78vw;
    margin-top: 2.93vh;
    margin-bottom: 7.03vh;
    width: 290px;
    height: 290px;
  }

  .Shadow-box {
    margin-top: -64px;
    bottom: 64px;
    width: 50vw;
    margin-right: 0;
    height: 306px;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(to bottom, rgba(12, 12, 24, 0), rgba(155, 155, 231, 0) 70%, rgba(5, 5, 10, 0.12));
  }

  .clearfix { clear: both; }

  .Share-div-that-lower{
    position: relative;
    z-index: 1;
  }
  .Share-div-that-highter{
    position: relative;
    top: -40.3px;
    left: calc(41.18vw + 21.3px);
    width: 19.3px;
    height: 20.3px;
    z-index: 2;
  }

  .Oval-3 {
    width: 108px;
    height: 105.6px;
    transform: scale(1.1);
  }

  .Subscibe-box{
    padding-left: calc(2.2vw + 108px + 5vw);
    padding-top: 6.28vh;
    padding-right: 0;
  }

  .Author-name {
    margin-top: 0vh;
    padding-bottom: 0vh;
    font-family: Helvetica;
    font-size: 1.125em;
    font-weight: bold;
  }

  .Author-BIO {
    margin-top: 1.12vh;
    padding-right: 5vw;
    font-family: Helvetica;
    font-size: 0.875em;
    font-weight: normal;  
    line-height: 1.71;
  }

  .input-form{
    margin-top: 0vh; 
    margin-bottom: 0vh;
    padding-top: 0vh; 
    padding-bottom: 0vh;
  }

  .base {
    width: 436px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #dfe2e6;
    background-color: var(--white);
  }

  .base-button {
    margin-right: 0;
    margin-left: 140px;
    width: 104px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #29b1cc;
  }
  .base-button:hover {
    background:#146271;
  }

  .Subscribe-me-now {
    vertical-align: middle;
    margin-left: 11px;
    width: 137px;
    height: 19px;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    border: none;
    color: #bababa;
  }
    
  .Shape3 {
    vertical-align: middle;
    margin-left: 12px;
    width: 20px;
    height: 16px;
    padding-right:0; 
    padding-top:0;
    padding-bottom:0;  
    margin-right:0; 
    margin-top:0;
    margin-bottom:0; 
  }
  .Subscribe {

    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    color: var(--white);
  }

  .scroll-arrow1 img {
    animation: arrow-movement 1.5s ease-in-out infinite; /* speed */
  }
  .scroll-arrow2 img{
    animation: arrow-movement 1.5s 0.75s ease-in-out infinite; /* speed - delay */
  }
/* Animation */
@keyframes arrow-movement {
    0% {
        opacity: 0;
        bottom: 7vh;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


